<!-- con el *ngIf="identidad" valido si muestro o no el nva segun el login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-md-4" *ngIf="identidad">
    <a href="" class="navbar-brand">UTPL</a>
    <!-- este boton es para la vista mobil -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/roles']" [routerLinkActive]="['active']" class="nav-link">ROLES</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/usuarios']" [routerLinkActive]="['active']" class="nav-link">USUARIOS</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-menu-right" id="navbarDropdown" 
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"> {{ identidad.firstName }} {{ identidad.secondName }} <span class="caret"></span></a>
            
                <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="navbarDropdown">
                    <a href="#" class="dropdown-item" (click)="cerrarSesion()"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
 <!-- esta linea no se toca es para usar las direcciones de copmponentes ademas me sirve para tener o definir componentes estaticos ejp: el de vavegacion nav -->
<router-outlet></router-outlet>
